/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TT Lakes"; 
  src: url("TTLakes/TTLakes-Regular.woff2") format("woff2"), 
       url("TTLakes/TTLakes-Regular.woff") format("woff"),   
       url("TTLakes/TTLakes-Regular.ttf") format("truetype"); 
  font-weight: normal; 
  font-style: normal; 
}

  @font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Bold.woff2") format("woff2"),
         url("TTLakes/TTLakes-Bold.woff") format("woff");
    font-weight: bold; 
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Italic.woff2") format("woff2"),
         url("TTLakes/TTLakes-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic; 
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  font-family: "TT Lakes", sans-serif;
}

/* Заголовок */

.header__menu {
  display: flex;
  justify-content: space-between;
  
  padding: 10px 0;
  border-bottom: 1px solid #D9FFF5;
  padding: 15px;
  gap: 20px;
}

.header__logo {
  margin-right: auto;
}

.header__hidden-divider, 
.header__divider {
  align-self: center;
}

.header__logo img {
  width: 100px;
  height: auto;
}

.header__menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.main {
  background-color:#F8F8F8;
}

/* Меню */
.menu {
  overflow-x: auto; 
  white-space: nowrap;
  padding: 15px;
  margin: 10px 0;
}

.menu__container {
  display: flex;
  gap: 10px;
}

.main__header {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.header__title {
  font-family: "TT Lakes";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: bold;
}

.menu__item {
  flex: 0 0 auto;
  padding: 8px 13px;
  background-color: #f8f8f8;
  border: 0px solid;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.menu__item--active {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-color: #00ffcc;
}

/* Контент */
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  padding: 15px;
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.content__title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  gap: 20px;
}

.content__button {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 132px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.content__image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.main__header-repair, 
.header__title-check, 
.text__hidden, 
.text__hidden-2, 
.header__hidden-divider, 
.header__menu-button--chat, 
.header__menu-button--call, 
.header__menu-button--profile {
  display: none;
}

@media (min-width: 768px) {
  body {
      font-size: 16px;
  }

  .main {
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .header__menu {
    border-bottom: none;
   
  }

  .header__logo img {
      width: 150px;
  }

  .header__divider {
    display: none;
  }

  .menu__container {
    gap: 20px;
  }

  .content {
    flex-direction: row;
    gap: 40px;
  }

  .content__text {
      max-width: 50%;
  }

  .content__image {
      max-width: 50%;
  }

  .text__hidden, 
  .header__hidden-divider, 
  .header__menu-button--chat, 
  .header__menu-button--call, 
  .header__menu-button--profile {
    display: inline;
  }

  p {
    margin-bottom: 10px;
  }
}

@media (min-width: 1119px) {
  body {
    background-color:#F8F8F8;
  }

  .burger, 
  .header__hidden-divider, 
  .header__logo, 
  .header__divider, 
  .header__menu-button--call, 
  .header__menu-button--chat, 
  .header__menu-button--profile, 
  .header__menu-button--repair, 
  .header__menu-button--check {
    display: none;
  }
  
  .menu__container {
    flex-wrap: wrap;
  }

  .text__hidden-2 {
    display: inline;
  }

  .main__header-repair, 
  .header__title-check {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .main__header-repair {
    margin-left: auto; 
  }

  .header__title-check {
    margin-right: 20px;
  }

  .main__header {
    gap: 20px;
  }
}